<script lang="ts">
    import WorkSpace from "./WorkSpace.svelte";
</script>

<header class="header">
	<div class="wrapper">
		<div class="header_wrapper_main">
			<div class="header_side">
				<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21.875 12.5C21.875 12.7072 21.7927 12.9059 21.6462 13.0524C21.4997 13.1989 21.301 13.2812 21.0938 13.2812H3.90625C3.69905 13.2812 3.50034 13.1989 3.35382 13.0524C3.20731 12.9059 3.125 12.7072 3.125 12.5C3.125 12.2928 3.20731 12.0941 3.35382 11.9476C3.50034 11.8011 3.69905 11.7188 3.90625 11.7188H21.0938C21.301 11.7188 21.4997 11.8011 21.6462 11.9476C21.7927 12.0941 21.875 12.2928 21.875 12.5ZM3.90625 7.03125H21.0938C21.301 7.03125 21.4997 6.94894 21.6462 6.80243C21.7927 6.65591 21.875 6.4572 21.875 6.25C21.875 6.0428 21.7927 5.84409 21.6462 5.69757C21.4997 5.55106 21.301 5.46875 21.0938 5.46875H3.90625C3.69905 5.46875 3.50034 5.55106 3.35382 5.69757C3.20731 5.84409 3.125 6.0428 3.125 6.25C3.125 6.4572 3.20731 6.65591 3.35382 6.80243C3.50034 6.94894 3.69905 7.03125 3.90625 7.03125ZM21.0938 17.9688H3.90625C3.69905 17.9688 3.50034 18.0511 3.35382 18.1976C3.20731 18.3441 3.125 18.5428 3.125 18.75C3.125 18.9572 3.20731 19.1559 3.35382 19.3024C3.50034 19.4489 3.69905 19.5312 3.90625 19.5312H21.0938C21.301 19.5312 21.4997 19.4489 21.6462 19.3024C21.7927 19.1559 21.875 18.9572 21.875 18.75C21.875 18.5428 21.7927 18.3441 21.6462 18.1976C21.4997 18.0511 21.301 17.9688 21.0938 17.9688Z" fill="white"/>
				</svg>
				
				<h1>Отчеты</h1>			
			</div>

			<div class="avatar"></div>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod doloremque ab dicta iure aliquam a sit dolor praesentium distinctio sequi, minima beatae velit ex sed dolore eos quisquam sapiente rerum adipisci accusantium repudiandae reprehenderit possimus! Placeat doloribus ipsam harum praesentium temporibus totam beatae voluptatem maxime? Praesentium vero ratione aliquam excepturi earum magni, eius sed dolorum voluptate labore voluptates quisquam iste, sunt quasi tempore alias asperiores possimus tenetur amet nihil nulla repellat. Esse eaque vitae eos iure, repellendus in accusantium eligendi. Expedita nostrum eos repudiandae eaque fuga, error delectus possimus mollitia dicta consectetur. Recusandae, illo dolore. Atque doloremque labore unde at repudiandae dolor omnis asperiores quaerat saepe error ullam sit possimus, quis corrupti tempore quod qui non iure id enim minus in! Consectetur molestias explicabo, voluptatibus accusantium reiciendis animi, labore vero exercitationem ducimus voluptate at vitae modi ab asperiores nobis recusandae fugiat illo quasi quos tempore! Obcaecati iste minima esse id!</p>
	</div>
</header>
<div class="wrapper">
	<WorkSpace />
</div>

<style>
	.wrapper {
		width: 98%;
		margin: 0 auto;
	}
	
	.header {
		padding: 10px 0;
		color: #fff;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		margin-bottom: 20px;
	}

	.header .wrapper {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.header .wrapper .header_wrapper_main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header .wrapper p {
		color: rgba(255, 255, 255, 0.5);
		margin: 0;
		font-size: 14px;
	}

	.header .header_side {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.header .header_side h1 {
		font-size: 20px;
		font-weight: 500;
	}

	.header .avatar {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #7CE5A2;
	}
</style>
