<script lang="ts">
	export let label: string = "";
	export let displayCloseBtn: boolean = true;

	// Import the reactive statement syntax
	import { onMount } from 'svelte';

	let tableData: any = [];
	let headers: any = [];

	const data = `[visible: true]: [id, (field: id, visible: true)] [Название, (field: name, visible: true, can_edit: true)] [Артикул, (field: article, visible: true, can_edit: true)] [Бренд, (field: brand, visible: true, can_edit: true)] [Закупочная, (field: zakupocnai, visible: true, can_edit: true)] [Доп траты, (field: zakupocnai, visible: true, can_edit: true)] [Себестоимость, (field: zakupocnai, visible: true, can_edit: true)]\n[visible: true]: 1, кукла барби, 500, куклы, 100, 100, 200\n[visible: true]: 2, Кукла кен, 500, куклы, 100, 100, 200\n[visible: true]: 3, Кукла хрен, 500, куклы, 100, 100, 200\n[visible: true]: 4, Кукла бэн, 500, куклы, 100, 100, 200`;

	onMount(() => {
		// Process the data
		const rows = data.trim().split('\n').map(row => row.trim());
		
		// Header data extraction
		headers = rows[0].split(']: ')[1].replace(/\[|\]/g, '').split(') ').map(h => h.split(', (')[0]);

		// Row data extraction
		tableData = rows.slice(1).map(row => {
			if (row) {
				return row.split(']: ')[1].split(', ');
			}
			return [];
		}).filter(row => row.length > 0);
	});

</script>

<div class="window">
	<!-- <div class="head">
		<div class="head_side">
			<svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M21 18.9999C21 19.2652 20.8946 19.5195 20.7071 19.707C20.5196 19.8946 20.2652 19.9999 20 19.9999H12C11.7348 19.9999 11.4804 19.8946 11.2929 19.707C11.1054 19.5195 11 19.2652 11 18.9999C11 18.7347 11.1054 18.4804 11.2929 18.2928C11.4804 18.1053 11.7348 17.9999 12 17.9999H20C20.2652 17.9999 20.5196 18.1053 20.7071 18.2928C20.8946 18.4804 21 18.7347 21 18.9999ZM20 13.9999H12C11.7348 13.9999 11.4804 14.1053 11.2929 14.2928C11.1054 14.4804 11 14.7347 11 14.9999C11 15.2652 11.1054 15.5195 11.2929 15.707C11.4804 15.8946 11.7348 15.9999 12 15.9999H20C20.2652 15.9999 20.5196 15.8946 20.7071 15.707C20.8946 15.5195 21 15.2652 21 14.9999C21 14.7347 20.8946 14.4804 20.7071 14.2928C20.5196 14.1053 20.2652 13.9999 20 13.9999ZM27 5.99994V26.9999C27 27.5304 26.7893 28.0391 26.4142 28.4142C26.0391 28.7892 25.5304 28.9999 25 28.9999H7C6.46957 28.9999 5.96086 28.7892 5.58579 28.4142C5.21071 28.0391 5 27.5304 5 26.9999V5.99994C5 5.46951 5.21071 4.9608 5.58579 4.58573C5.96086 4.21065 6.46957 3.99994 7 3.99994H11.5325C12.0944 3.37085 12.7828 2.86751 13.5527 2.52289C14.3225 2.17826 15.1565 2.00012 16 2.00012C16.8435 2.00012 17.6775 2.17826 18.4473 2.52289C19.2172 2.86751 19.9056 3.37085 20.4675 3.99994H25C25.5304 3.99994 26.0391 4.21065 26.4142 4.58573C26.7893 4.9608 27 5.46951 27 5.99994ZM12 7.99994H20C20 6.93907 19.5786 5.92166 18.8284 5.17151C18.0783 4.42137 17.0609 3.99994 16 3.99994C14.9391 3.99994 13.9217 4.42137 13.1716 5.17151C12.4214 5.92166 12 6.93907 12 7.99994ZM25 5.99994H21.6562C21.8837 6.64221 22 7.31858 22 7.99994V8.99994C22 9.26516 21.8946 9.51951 21.7071 9.70705C21.5196 9.89458 21.2652 9.99994 21 9.99994H11C10.7348 9.99994 10.4804 9.89458 10.2929 9.70705C10.1054 9.51951 10 9.26516 10 8.99994V7.99994C10 7.31858 10.1163 6.64221 10.3438 5.99994H7V26.9999H25V5.99994Z" fill="#343330"/>
			</svg>				
			{label}
		</div>
		{#if displayCloseBtn}
			<button>
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.5754 7.40382C15.6633 7.49172 15.7103 7.61328 15.7062 7.74174C15.702 7.87021 15.647 7.99506 15.5533 8.08883L12.0177 11.6244L15.3323 14.9389C15.4202 15.0268 15.4673 15.1484 15.4631 15.2769C15.459 15.4053 15.404 15.5302 15.3102 15.6239C15.2164 15.7177 15.0916 15.7727 14.9631 15.7769C14.8347 15.781 14.7131 15.7339 14.6252 15.646L11.3106 12.3315L7.7751 15.867C7.68133 15.9608 7.55648 16.0158 7.42801 16.0199C7.29955 16.0241 7.17799 15.977 7.09009 15.8891C7.00218 15.8012 6.95512 15.6796 6.95926 15.5512C6.96341 15.4227 7.01841 15.2979 7.11218 15.2041L10.6477 11.6686L7.33315 8.35399C7.24525 8.26608 7.19819 8.14453 7.20233 8.01606C7.20648 7.8876 7.26148 7.76275 7.35525 7.66898C7.44902 7.57521 7.57387 7.52021 7.70233 7.51606C7.8308 7.51192 7.95235 7.55898 8.04026 7.64688L11.3548 10.9614L14.8904 7.42591C14.9841 7.33214 15.109 7.27714 15.2374 7.27299C15.3659 7.26885 15.4875 7.31591 15.5754 7.40382Z" fill="black"/>
				</svg>	
			</button>	
		{/if}
		
	</div> -->

	<!-- Table Component Rendering -->
	<div class="container">
		<div class="table_header">
			<div class="head_side">
				<!-- <button>
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.2482 4.75732C10.2482 5.06798 10.5 5.31982 10.8107 5.31982L12.6801 5.31982V7.1893C12.6801 7.49997 12.932 7.7518 13.2426 7.7518C13.5533 7.7518 13.8051 7.49996 13.8051 7.1893V4.75732C13.8051 4.44666 13.5533 4.19482 13.2426 4.19482L10.8107 4.19482C10.5 4.19482 10.2482 4.44666 10.2482 4.75732Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.2426 10.2481C12.932 10.2481 12.6801 10.5 12.6801 10.8106L12.6801 12.6801L10.8106 12.6801C10.5 12.6801 10.2481 12.932 10.2481 13.2426C10.2481 13.5533 10.5 13.8051 10.8106 13.8051L13.2426 13.8051C13.5533 13.8051 13.8051 13.5533 13.8051 13.2426L13.8051 10.8106C13.8051 10.5 13.5533 10.2481 13.2426 10.2481Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4.75734 10.2481C5.068 10.2481 5.31984 10.5 5.31984 10.8106L5.31984 12.6801L7.18932 12.6801C7.49999 12.6801 7.75182 12.932 7.75182 13.2426C7.75182 13.5533 7.49998 13.8051 7.18932 13.8051L4.75734 13.8051C4.44668 13.8051 4.19484 13.5533 4.19484 13.2426L4.19484 10.8106C4.19484 10.5 4.44668 10.2481 4.75734 10.2481Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.7518 4.75732C7.75181 5.06798 7.49997 5.31982 7.18931 5.31982L5.31982 5.31982L5.31982 7.1893C5.31982 7.49997 5.06798 7.7518 4.75732 7.7518C4.44666 7.7518 4.19482 7.49996 4.19482 7.1893L4.19482 4.75732C4.19482 4.44666 4.44666 4.19482 4.75732 4.19482L7.18931 4.19482C7.49997 4.19482 7.7518 4.44666 7.7518 4.75732Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>				
				</button> -->
				<div class="select">
					2024-04-15
					<button>
						<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.6845 5.55977L7.30953 9.93477C7.2689 9.97545 7.22065 10.0077 7.16754 10.0297C7.11442 10.0518 7.05749 10.0631 7 10.0631C6.9425 10.0631 6.88557 10.0518 6.83246 10.0297C6.77935 10.0077 6.7311 9.97545 6.69047 9.93477L2.31547 5.55977C2.23338 5.47768 2.18726 5.36634 2.18726 5.25024C2.18726 5.13415 2.23338 5.0228 2.31547 4.94071C2.39756 4.85862 2.5089 4.8125 2.625 4.8125C2.7411 4.8125 2.85244 4.85862 2.93453 4.94071L7 9.00673L11.0655 4.94071C11.1061 4.90006 11.1544 4.86782 11.2075 4.84582C11.2606 4.82382 11.3175 4.8125 11.375 4.8125C11.4325 4.8125 11.4894 4.82382 11.5425 4.84582C11.5956 4.86782 11.6439 4.90006 11.6845 4.94071C11.7252 4.98136 11.7574 5.02962 11.7794 5.08273C11.8014 5.13584 11.8127 5.19276 11.8127 5.25024C11.8127 5.30773 11.8014 5.36465 11.7794 5.41776C11.7574 5.47087 11.7252 5.51913 11.6845 5.55977Z" fill="#7CE5A2"/>
						</svg>						
					</button>
				</div>
				<div class="pagination">
					<button>
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.625 2.25H3.375C3.07663 2.25 2.79048 2.36853 2.5795 2.5795C2.36853 2.79048 2.25 3.07663 2.25 3.375V14.625C2.25 14.9234 2.36853 15.2095 2.5795 15.4205C2.79048 15.6315 3.07663 15.75 3.375 15.75H14.625C14.9234 15.75 15.2095 15.6315 15.4205 15.4205C15.6315 15.2095 15.75 14.9234 15.75 14.625V3.375C15.75 3.07663 15.6315 2.79048 15.4205 2.5795C15.2095 2.36853 14.9234 2.25 14.625 2.25ZM14.625 14.625H3.375V3.375H14.625V14.625ZM5.78953 9.39797C5.73723 9.34573 5.69574 9.28369 5.66744 9.2154C5.63913 9.14712 5.62456 9.07392 5.62456 9C5.62456 8.92608 5.63913 8.85288 5.66744 8.7846C5.69574 8.71631 5.73723 8.65427 5.78953 8.60203L8.03953 6.35203C8.14508 6.24648 8.28823 6.18719 8.4375 6.18719C8.58677 6.18719 8.72992 6.24648 8.83547 6.35203C8.94102 6.45758 9.00031 6.60073 9.00031 6.75C9.00031 6.89927 8.94102 7.04242 8.83547 7.14797L7.54523 8.4375H11.8125C11.9617 8.4375 12.1048 8.49676 12.2102 8.60225C12.3157 8.70774 12.375 8.85082 12.375 9C12.375 9.14918 12.3157 9.29226 12.2102 9.39775C12.1048 9.50324 11.9617 9.5625 11.8125 9.5625H7.54523L8.83547 10.852C8.88773 10.9043 8.92919 10.9663 8.95747 11.0346C8.98576 11.1029 9.00031 11.1761 9.00031 11.25C9.00031 11.3239 8.98576 11.3971 8.95747 11.4654C8.92919 11.5337 8.88773 11.5957 8.83547 11.648C8.78321 11.7002 8.72116 11.7417 8.65288 11.77C8.5846 11.7983 8.51141 11.8128 8.4375 11.8128C8.36359 11.8128 8.2904 11.7983 8.22212 11.77C8.15384 11.7417 8.09179 11.7002 8.03953 11.648L5.78953 9.39797Z" fill="#7CE5A2" fill-opacity="0.3"/>
						</svg>
					</button>
					1/5
					<button>
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14.625 2.25H3.375C3.07663 2.25 2.79048 2.36853 2.5795 2.5795C2.36853 2.79048 2.25 3.07663 2.25 3.375V14.625C2.25 14.9234 2.36853 15.2095 2.5795 15.4205C2.79048 15.6315 3.07663 15.75 3.375 15.75H14.625C14.9234 15.75 15.2095 15.6315 15.4205 15.4205C15.6315 15.2095 15.75 14.9234 15.75 14.625V3.375C15.75 3.07663 15.6315 2.79048 15.4205 2.5795C15.2095 2.36853 14.9234 2.25 14.625 2.25ZM14.625 14.625H3.375V3.375H14.625V14.625ZM5.625 9C5.625 8.85082 5.68426 8.70774 5.78975 8.60225C5.89524 8.49676 6.03832 8.4375 6.1875 8.4375H10.4548L9.16453 7.14797C9.05898 7.04242 8.99969 6.89927 8.99969 6.75C8.99969 6.60073 9.05898 6.45758 9.16453 6.35203C9.27008 6.24648 9.41323 6.18719 9.5625 6.18719C9.71177 6.18719 9.85492 6.24648 9.96047 6.35203L12.2105 8.60203C12.2628 8.65427 12.3043 8.71631 12.3326 8.7846C12.3609 8.85288 12.3754 8.92608 12.3754 9C12.3754 9.07392 12.3609 9.14712 12.3326 9.2154C12.3043 9.28369 12.2628 9.34573 12.2105 9.39797L9.96047 11.648C9.85492 11.7535 9.71177 11.8128 9.5625 11.8128C9.41323 11.8128 9.27008 11.7535 9.16453 11.648C9.05898 11.5424 8.99969 11.3993 8.99969 11.25C8.99969 11.1007 9.05898 10.9576 9.16453 10.852L10.4548 9.5625H6.1875C6.03832 9.5625 5.89524 9.50324 5.78975 9.39775C5.68426 9.29226 5.625 9.14918 5.625 9Z" fill="#7CE5A2"/>
						</svg>						
					</button>	
				</div>

				<div class="head_item">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M15.3977 3.39775C15.6174 3.17808 15.6174 2.82192 15.3977 2.60225C15.1781 2.38258 14.8219 2.38258 14.6023 2.60225L2.60225 14.6023C2.38258 14.8219 2.38258 15.1781 2.60225 15.3977C2.82192 15.6174 3.17808 15.6174 3.39775 15.3977L5.53292 13.2626C6.55765 13.745 7.73789 14.0625 9 14.0625C11.013 14.0625 12.8178 13.2547 14.1154 12.2587C14.7655 11.7598 15.3024 11.2032 15.6817 10.6566C16.0505 10.1252 16.3125 9.54203 16.3125 9C16.3125 8.45797 16.0505 7.87479 15.6817 7.34336C15.3024 6.79683 14.7655 6.24021 14.1154 5.74127C13.9188 5.59039 13.7106 5.44382 13.4918 5.30372L15.3977 3.39775ZM12.6747 6.12084L11.3465 7.44897C11.641 7.89359 11.8125 8.42677 11.8125 9C11.8125 10.5533 10.5533 11.8125 9 11.8125C8.42677 11.8125 7.89359 11.641 7.44897 11.3465L6.38643 12.4091C7.18558 12.7346 8.07159 12.9375 9 12.9375C10.7149 12.9375 12.2852 12.2453 13.4305 11.3663C14.0019 10.9277 14.4536 10.4531 14.7574 10.0152C15.0718 9.56229 15.1875 9.20797 15.1875 9C15.1875 8.79203 15.0718 8.43771 14.7574 7.98477C14.4536 7.54692 14.0019 7.07229 13.4305 6.63373C13.1956 6.45345 12.9429 6.28104 12.6747 6.12084ZM8.27245 10.523C8.49275 10.6285 8.73948 10.6875 9 10.6875C9.93198 10.6875 10.6875 9.93198 10.6875 9C10.6875 8.73948 10.6285 8.49275 10.523 8.27245L8.27245 10.523Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path d="M9 3.9375C9.73828 3.9375 10.4485 4.04616 11.1161 4.2329C11.2951 4.283 11.3483 4.50617 11.2169 4.63765L10.6949 5.15958C10.6331 5.22143 10.5435 5.24612 10.4581 5.22694C9.98907 5.12151 9.5007 5.0625 9 5.0625C7.28509 5.0625 5.71484 5.75469 4.5695 6.63373C3.99808 7.07229 3.54643 7.54692 3.24257 7.98477C2.92823 8.43771 2.8125 8.79203 2.8125 9C2.8125 9.20797 2.92823 9.56229 3.24257 10.0152C3.49768 10.3828 3.85698 10.7764 4.30387 11.1527C4.4188 11.2495 4.42991 11.4246 4.32366 11.5309L3.88168 11.9728C3.79137 12.0631 3.64721 12.0712 3.54989 11.9884C3.04916 11.5628 2.6304 11.1063 2.31833 10.6566C1.94953 10.1252 1.6875 9.54203 1.6875 9C1.6875 8.45797 1.94953 7.87479 2.31833 7.34336C2.69761 6.79683 3.23447 6.24021 3.88455 5.74127C5.18224 4.74531 6.98699 3.9375 9 3.9375Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path d="M9 6.1875C9.05013 6.1875 9.09994 6.18881 9.14943 6.1914C9.34686 6.20174 9.41866 6.43585 9.27886 6.57565L8.45054 7.40397C7.96056 7.57262 7.57262 7.96056 7.40397 8.45054L6.57565 9.27886C6.43585 9.41866 6.20174 9.34686 6.1914 9.14943C6.18881 9.09994 6.1875 9.05013 6.1875 9C6.1875 7.4467 7.4467 6.1875 9 6.1875Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>
					Скрыть поля
				</div>
				<div class="head_item">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9 9C9 9.14918 8.94074 9.29226 8.83525 9.39775C8.72976 9.50324 8.58668 9.5625 8.4375 9.5625H3.375C3.22582 9.5625 3.08274 9.50324 2.97725 9.39775C2.87176 9.29226 2.8125 9.14918 2.8125 9C2.8125 8.85082 2.87176 8.70774 2.97725 8.60225C3.08274 8.49676 3.22582 8.4375 3.375 8.4375H8.4375C8.58668 8.4375 8.72976 8.49676 8.83525 8.60225C8.94074 8.70774 9 8.85082 9 9ZM3.375 5.0625H12.9375C13.0867 5.0625 13.2298 5.00324 13.3352 4.89775C13.4407 4.79226 13.5 4.64918 13.5 4.5C13.5 4.35082 13.4407 4.20774 13.3352 4.10225C13.2298 3.99676 13.0867 3.9375 12.9375 3.9375H3.375C3.22582 3.9375 3.08274 3.99676 2.97725 4.10225C2.87176 4.20774 2.8125 4.35082 2.8125 4.5C2.8125 4.64918 2.87176 4.79226 2.97725 4.89775C3.08274 5.00324 3.22582 5.0625 3.375 5.0625ZM7.3125 12.9375H3.375C3.22582 12.9375 3.08274 12.9968 2.97725 13.1023C2.87176 13.2077 2.8125 13.3508 2.8125 13.5C2.8125 13.6492 2.87176 13.7923 2.97725 13.8977C3.08274 14.0032 3.22582 14.0625 3.375 14.0625H7.3125C7.46168 14.0625 7.60476 14.0032 7.71025 13.8977C7.81574 13.7923 7.875 13.6492 7.875 13.5C7.875 13.3508 7.81574 13.2077 7.71025 13.1023C7.60476 12.9968 7.46168 12.9375 7.3125 12.9375ZM16.148 11.4145C16.0957 11.3622 16.0337 11.3207 15.9654 11.2924C15.8971 11.2641 15.8239 11.2496 15.75 11.2496C15.6761 11.2496 15.6029 11.2641 15.5346 11.2924C15.4663 11.3207 15.4043 11.3622 15.352 11.4145L13.5 13.2673V7.875C13.5 7.72582 13.4407 7.58274 13.3352 7.47725C13.2298 7.37176 13.0867 7.3125 12.9375 7.3125C12.7883 7.3125 12.6452 7.37176 12.5398 7.47725C12.4343 7.58274 12.375 7.72582 12.375 7.875V13.2673L10.523 11.4145C10.4174 11.309 10.2743 11.2497 10.125 11.2497C9.97573 11.2497 9.83258 11.309 9.72703 11.4145C9.62148 11.5201 9.56219 11.6632 9.56219 11.8125C9.56219 11.9618 9.62148 12.1049 9.72703 12.2105L12.5395 15.023C12.5918 15.0753 12.6538 15.1168 12.7221 15.1451C12.7904 15.1734 12.8636 15.1879 12.9375 15.1879C13.0114 15.1879 13.0846 15.1734 13.1529 15.1451C13.2212 15.1168 13.2832 15.0753 13.3355 15.023L16.148 12.2105C16.2003 12.1582 16.2418 12.0962 16.2701 12.0279C16.2984 11.9596 16.3129 11.8864 16.3129 11.8125C16.3129 11.7386 16.2984 11.6654 16.2701 11.5971C16.2418 11.5288 16.2003 11.4668 16.148 11.4145Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>					
					Ширина ряда
				</div>
				<div class="head_item">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.1023 5.64775C10.3219 5.86742 10.6781 5.86742 10.8977 5.64775L11.4375 5.10799L11.4375 12.75C11.4375 13.0607 11.6893 13.3125 12 13.3125C12.3107 13.3125 12.5625 13.0607 12.5625 12.75L12.5625 5.10799L13.1023 5.64775C13.3219 5.86742 13.6781 5.86742 13.8977 5.64775C14.1174 5.42808 14.1174 5.07192 13.8977 4.85225L12.3977 3.35225C12.1781 3.13258 11.8219 3.13258 11.6023 3.35225L10.1023 4.85225C9.88258 5.07192 9.88258 5.42808 10.1023 5.64775Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path d="M6.5625 12.892L7.10225 12.3523C7.32192 12.1326 7.67808 12.1326 7.89775 12.3523C8.11742 12.5719 8.11742 12.9281 7.89775 13.1477L6.39775 14.6477C6.17808 14.8674 5.82192 14.8674 5.60225 14.6477L4.10225 13.1477C3.88258 12.9281 3.88258 12.5719 4.10225 12.3523C4.32192 12.1326 4.67808 12.1326 4.89775 12.3523L5.4375 12.892L5.4375 5.25C5.4375 4.93934 5.68934 4.6875 6 4.6875C6.31066 4.6875 6.5625 4.93934 6.5625 5.25L6.5625 12.892Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>					
					Сортировка
				</div>
				<div class="head_item">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1875 3.375H2.8125C2.51413 3.375 2.22798 3.49353 2.017 3.7045C1.80603 3.91548 1.6875 4.20163 1.6875 4.5V13.5C1.6875 13.7984 1.80603 14.0845 2.017 14.2955C2.22798 14.5065 2.51413 14.625 2.8125 14.625H15.1875C15.4859 14.625 15.772 14.5065 15.983 14.2955C16.194 14.0845 16.3125 13.7984 16.3125 13.5V4.5C16.3125 4.20163 16.194 3.91548 15.983 3.7045C15.772 3.49353 15.4859 3.375 15.1875 3.375ZM7.3125 10.125V7.875H10.6875V10.125H7.3125ZM10.6875 11.25V13.5H7.3125V11.25H10.6875ZM2.8125 7.875H6.1875V10.125H2.8125V7.875ZM7.3125 6.75V4.5H10.6875V6.75H7.3125ZM11.8125 7.875H15.1875V10.125H11.8125V7.875ZM15.1875 6.75H11.8125V4.5H15.1875V6.75ZM6.1875 4.5V6.75H2.8125V4.5H6.1875ZM2.8125 11.25H6.1875V13.5H2.8125V11.25ZM15.1875 13.5H11.8125V11.25H15.1875V13.5Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>					
					Группировка
				</div>
				<div class="head_item">
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.0625 9C14.0625 9.14918 14.0032 9.29226 13.8977 9.39775C13.7923 9.50324 13.6492 9.5625 13.5 9.5625H4.5C4.35082 9.5625 4.20774 9.50324 4.10225 9.39775C3.99676 9.29226 3.9375 9.14918 3.9375 9C3.9375 8.85082 3.99676 8.70774 4.10225 8.60225C4.20774 8.49676 4.35082 8.4375 4.5 8.4375H13.5C13.6492 8.4375 13.7923 8.49676 13.8977 8.60225C14.0032 8.70774 14.0625 8.85082 14.0625 9ZM16.3125 5.0625H1.6875C1.53832 5.0625 1.39524 5.12176 1.28975 5.22725C1.18426 5.33274 1.125 5.47582 1.125 5.625C1.125 5.77418 1.18426 5.91726 1.28975 6.02275C1.39524 6.12824 1.53832 6.1875 1.6875 6.1875H16.3125C16.4617 6.1875 16.6048 6.12824 16.7102 6.02275C16.8157 5.91726 16.875 5.77418 16.875 5.625C16.875 5.47582 16.8157 5.33274 16.7102 5.22725C16.6048 5.12176 16.4617 5.0625 16.3125 5.0625ZM10.6875 11.8125H7.3125C7.16332 11.8125 7.02024 11.8718 6.91475 11.9773C6.80926 12.0827 6.75 12.2258 6.75 12.375C6.75 12.5242 6.80926 12.6673 6.91475 12.7727C7.02024 12.8782 7.16332 12.9375 7.3125 12.9375H10.6875C10.8367 12.9375 10.9798 12.8782 11.0852 12.7727C11.1907 12.6673 11.25 12.5242 11.25 12.375C11.25 12.2258 11.1907 12.0827 11.0852 11.9773C10.9798 11.8718 10.8367 11.8125 10.6875 11.8125Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>					
					Фильтр
				</div>

				<button>
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M4.90909 6.12193C4.74767 6.07934 4.61351 5.96726 4.54289 5.816C4.47227 5.66473 4.47248 5.48991 4.54348 5.33882L5.78904 2.68803C5.88186 2.49049 6.08058 2.36448 6.29884 2.36475C6.5171 2.36502 6.7155 2.49152 6.80783 2.68929L7.3573 3.86622C7.37695 3.8585 7.39723 3.8518 7.4181 3.84621C10.6786 2.97256 14.03 4.90749 14.9037 8.168C15.7773 11.4285 13.8424 14.7799 10.5819 15.6536C7.32136 16.5272 3.96996 14.5923 3.09631 11.3318C2.81849 10.2949 2.82474 9.24728 3.06807 8.27323C3.14336 7.97183 3.44873 7.78853 3.75012 7.86383C4.05152 7.93912 4.23482 8.24449 4.15953 8.54588C3.96131 9.33938 3.95584 10.1929 4.18298 11.0406C4.89582 13.701 7.63034 15.2797 10.2907 14.5669C12.9511 13.8541 14.5298 11.1195 13.817 8.45917C13.1158 5.84231 10.4585 4.27195 7.83982 4.89974L8.39421 6.08721C8.48654 6.28498 8.45614 6.51831 8.3162 6.68581C8.17627 6.85331 7.95207 6.92474 7.74103 6.86906L4.90909 6.12193Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>
				</button>
				<button>
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.023 5.78953L11.0855 1.85203C11.0332 1.79981 10.9711 1.7584 10.9029 1.73017C10.8346 1.70194 10.7614 1.68744 10.6875 1.6875H3.9375C3.63913 1.6875 3.35298 1.80603 3.142 2.017C2.93103 2.22798 2.8125 2.51413 2.8125 2.8125V15.1875C2.8125 15.4859 2.93103 15.772 3.142 15.983C3.35298 16.194 3.63913 16.3125 3.9375 16.3125H14.0625C14.3609 16.3125 14.647 16.194 14.858 15.983C15.069 15.772 15.1875 15.4859 15.1875 15.1875V6.1875C15.1876 6.11361 15.1731 6.04043 15.1448 5.97215C15.1166 5.90386 15.0752 5.84181 15.023 5.78953ZM11.25 3.60773L13.2673 5.625H11.25V3.60773ZM14.0625 15.1875H3.9375V2.8125H10.125V6.1875C10.125 6.33668 10.1843 6.47976 10.2898 6.58525C10.3952 6.69074 10.5383 6.75 10.6875 6.75H14.0625V15.1875ZM11.0855 10.852C11.1378 10.9043 11.1793 10.9663 11.2076 11.0346C11.2359 11.1029 11.2504 11.1761 11.2504 11.25C11.2504 11.3239 11.2359 11.3971 11.2076 11.4654C11.1793 11.5337 11.1378 11.5957 11.0855 11.648L9.39797 13.3355C9.34573 13.3878 9.28369 13.4293 9.2154 13.4576C9.14712 13.4859 9.07392 13.5004 9 13.5004C8.92608 13.5004 8.85288 13.4859 8.7846 13.4576C8.71631 13.4293 8.65427 13.3878 8.60203 13.3355L6.91453 11.648C6.80898 11.5424 6.74969 11.3993 6.74969 11.25C6.74969 11.1007 6.80898 10.9576 6.91453 10.852C7.02008 10.7465 7.16323 10.6872 7.3125 10.6872C7.46177 10.6872 7.60492 10.7465 7.71047 10.852L8.4375 11.5798V8.4375C8.4375 8.28832 8.49676 8.14524 8.60225 8.03975C8.70774 7.93426 8.85082 7.875 9 7.875C9.14918 7.875 9.29226 7.93426 9.39775 8.03975C9.50324 8.14524 9.5625 8.28832 9.5625 8.4375V11.5798L10.2895 10.852C10.3418 10.7997 10.4038 10.7582 10.4721 10.7299C10.5404 10.7016 10.6136 10.6871 10.6875 10.6871C10.7614 10.6871 10.8346 10.7016 10.9029 10.7299C10.9712 10.7582 11.0332 10.7997 11.0855 10.852Z" fill="#7CE5A2" fill-opacity="0.3"/>
					</svg>					
				</button>
			</div>
			<div class="head_side">
				<button>
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.7888 11.5845C8.8011 13.1765 5.89152 13.0512 4.04893 11.2086C2.0719 9.2316 2.0719 6.02621 4.04893 4.04918C6.02596 2.07215 9.23136 2.07215 11.2084 4.04918C13.051 5.89176 13.1763 8.80133 11.5843 10.789L15.451 14.6558C15.6707 14.8754 15.6707 15.2316 15.451 15.4513C15.2313 15.6709 14.8752 15.6709 14.6555 15.4513L10.7888 11.5845ZM4.84443 10.4131C3.30674 8.87545 3.30674 6.38236 4.84443 4.84467C6.38212 3.30698 8.87521 3.30698 10.4129 4.84467C11.9495 6.38123 11.9506 8.87179 10.4163 10.4098C10.4151 10.4109 10.414 10.412 10.4129 10.4131C10.4118 10.4142 10.4106 10.4154 10.4095 10.4165C8.87155 11.9508 6.38099 11.9497 4.84443 10.4131Z" fill="#7CE5A2"/>
					</svg>						
				</button>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					{#each headers as header}
						<th>{header}</th>
					{/each}
				</tr>
			</thead>
			<tbody>
				{#each tableData as row}
					<tr>
						{#each row as cell}
							<td>{cell}</td>
						{/each}
					</tr>
				{/each}
			</tbody>
		</table>
	</div>
</div>

<style>
	.window {
		overflow: hidden;
		border: 1px solid rgba(124, 229, 162, 0.2);
		border-radius: 2px;
		/* padding-bottom: 15px; */
	}
	.window .head {
		/* background-color: #7CE5A2; */
		border-bottom: 1px solid rgba(124, 229, 162, 0.2);
		color: #7CE5A2;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 10px;
	}

	.window .head svg path {
		fill: #7CE5A2;
	}

	.window .head .head_side {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 14px;
	}

	.window .head button {
		background: transparent;
		border: 1px solid rgba(124, 229, 162, 0.2);
		cursor: pointer;
		width: 25px;
		height: 25px;
		padding: 0;
		border-radius: 2px;
	}

	table {
       	width: 100%;
		border-collapse: collapse;
	}

	table thead tr th {
		background-color: rgba(124, 229, 162, 100%);
		color: #000;
		font-size: 13px;
		padding: 10px 15px;
	}

	table tbody tr {
		border: 1px solid rgba(255, 255, 255, 5%);
	}

	table tbody tr td {
		padding: 10px 15px;
		font-size: 12px;
		color: rgba(255, 255, 255, 40%);

		border: 1px solid rgba(255, 255, 255, 5%);
	}

	th, td {
		padding: 8px;
		text-align: left;
	}

	.container {
		/* padding: 0 15px; */
	}

	.container .table_header {
		padding: 10px;
		font-size: 13px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.container .table_header .head_side {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.container .table_header .head_item {
		display: flex;
		align-items: center;
		gap: 5px;
		color: rgba(124, 229, 162, 80%);
	}

	.container .table_header button {
		background: none;
		border: none;
		padding: 0;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}

	.container .table_header button svg {
		width: 24px;
		height: 24px;
	}

	table {
		z-index: 2;
		width: 100%;
		height: 100%;
		color: #fff;
	}

	table th {
		border-color: rgba(255, 255, 255, 0.5);
		border-top-color: transparent;
		border-bottom-color: transparent;
		font-size: 14px;
		/* background-color: #7CE5A2; */
		color: #000;
		font-weight: 400;
	}
	table td {
		border-color: rgba(255, 255, 255, 0.1);
		font-size: 13px;
	}

	.select {
		display: flex;
		align-items: center;
		gap: 5px;
		color: rgba(124, 229, 162, 80%);
	}

	.pagination {
		display: flex;
		align-items: center;
		gap: 5px;
		color: rgba(124, 229, 162, 80%);
	}

</style>