<script lang="ts">
    import { onMount } from "svelte";
    import Window from "./Window.svelte";
    import { writable } from 'svelte/store';

	let container: any;
	let workSpace: any;
	let windows = writable([]); // Делаем массив windows реактивным
	let nextId = 1; // Счетчик для id окон
	let footer: any;

	const addWindow = (content: any, label: string) => {
		const countWindow = $windows.length + 1;
		const numColumns = Math.ceil(Math.sqrt(countWindow));
		const numRows = Math.ceil(countWindow / numColumns);
		
		// Добавляем новое окно к массиву
		windows.update(arr => [...arr, { id: nextId++, content, label }]);
		
		// Обновляем grid для контейнера
		workSpace.style.gridTemplateColumns = `repeat(${numColumns}, 1fr)`;
		workSpace.style.gridTemplateRows = `repeat(${numRows}, 1fr)`;
	}

	onMount(() => {
		workSpace.style.paddingBottom = footer.offsetHeight + "px"
		workSpace.style.maxHeight = container.offsetHeight + "px"
	})
</script>

<div bind:this={ container } class="container">
	<div bind:this={ workSpace } class="work_space">
		{#if windows}
			{#each $windows as window}
				<Window label={ window.label } displayCloseBtn={ $windows.length > 1 } />
			{/each}
		{/if}
	</div>
	<div bind:this={ footer } style="position: absolute; bottom: 0;left: 0;right: 0;z-index: 5;">
		<div class="report_list">
			<button class="report_list__item active" on:click={() => addWindow(null, "ДДС")}>
				<svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21 18.9999C21 19.2652 20.8946 19.5195 20.7071 19.707C20.5196 19.8946 20.2652 19.9999 20 19.9999H12C11.7348 19.9999 11.4804 19.8946 11.2929 19.707C11.1054 19.5195 11 19.2652 11 18.9999C11 18.7347 11.1054 18.4804 11.2929 18.2928C11.4804 18.1053 11.7348 17.9999 12 17.9999H20C20.2652 17.9999 20.5196 18.1053 20.7071 18.2928C20.8946 18.4804 21 18.7347 21 18.9999ZM20 13.9999H12C11.7348 13.9999 11.4804 14.1053 11.2929 14.2928C11.1054 14.4804 11 14.7347 11 14.9999C11 15.2652 11.1054 15.5195 11.2929 15.707C11.4804 15.8946 11.7348 15.9999 12 15.9999H20C20.2652 15.9999 20.5196 15.8946 20.7071 15.707C20.8946 15.5195 21 15.2652 21 14.9999C21 14.7347 20.8946 14.4804 20.7071 14.2928C20.5196 14.1053 20.2652 13.9999 20 13.9999ZM27 5.99994V26.9999C27 27.5304 26.7893 28.0391 26.4142 28.4142C26.0391 28.7892 25.5304 28.9999 25 28.9999H7C6.46957 28.9999 5.96086 28.7892 5.58579 28.4142C5.21071 28.0391 5 27.5304 5 26.9999V5.99994C5 5.46951 5.21071 4.9608 5.58579 4.58573C5.96086 4.21065 6.46957 3.99994 7 3.99994H11.5325C12.0944 3.37085 12.7828 2.86751 13.5527 2.52289C14.3225 2.17826 15.1565 2.00012 16 2.00012C16.8435 2.00012 17.6775 2.17826 18.4473 2.52289C19.2172 2.86751 19.9056 3.37085 20.4675 3.99994H25C25.5304 3.99994 26.0391 4.21065 26.4142 4.58573C26.7893 4.9608 27 5.46951 27 5.99994ZM12 7.99994H20C20 6.93907 19.5786 5.92166 18.8284 5.17151C18.0783 4.42137 17.0609 3.99994 16 3.99994C14.9391 3.99994 13.9217 4.42137 13.1716 5.17151C12.4214 5.92166 12 6.93907 12 7.99994ZM25 5.99994H21.6562C21.8837 6.64221 22 7.31858 22 7.99994V8.99994C22 9.26516 21.8946 9.51951 21.7071 9.70705C21.5196 9.89458 21.2652 9.99994 21 9.99994H11C10.7348 9.99994 10.4804 9.89458 10.2929 9.70705C10.1054 9.51951 10 9.26516 10 8.99994V7.99994C10 7.31858 10.1163 6.64221 10.3438 5.99994H7V26.9999H25V5.99994Z" fill="#343330"/>
				</svg>
				Отчет 1

				<button on:click={() => addWindow(null, "ДДС")} style="z-index: 999;">
					<svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V25C5 25.5304 5.21071 26.0391 5.58579 26.4142C5.96086 26.7893 6.46957 27 7 27H25C25.5304 27 26.0391 26.7893 26.4142 26.4142C26.7893 26.0391 27 25.5304 27 25V7C27 6.46957 26.7893 5.96086 26.4142 5.58579C26.0391 5.21071 25.5304 5 25 5ZM7 7H15V25H7V7ZM25 25H17V7H25V25Z" fill="#343330"/>
					</svg>
				</button>
					
			</button>
			<button class="report_list__item" on:click={() => addWindow(null, "ДДС")}>
				<svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21 18.9999C21 19.2652 20.8946 19.5195 20.7071 19.707C20.5196 19.8946 20.2652 19.9999 20 19.9999H12C11.7348 19.9999 11.4804 19.8946 11.2929 19.707C11.1054 19.5195 11 19.2652 11 18.9999C11 18.7347 11.1054 18.4804 11.2929 18.2928C11.4804 18.1053 11.7348 17.9999 12 17.9999H20C20.2652 17.9999 20.5196 18.1053 20.7071 18.2928C20.8946 18.4804 21 18.7347 21 18.9999ZM20 13.9999H12C11.7348 13.9999 11.4804 14.1053 11.2929 14.2928C11.1054 14.4804 11 14.7347 11 14.9999C11 15.2652 11.1054 15.5195 11.2929 15.707C11.4804 15.8946 11.7348 15.9999 12 15.9999H20C20.2652 15.9999 20.5196 15.8946 20.7071 15.707C20.8946 15.5195 21 15.2652 21 14.9999C21 14.7347 20.8946 14.4804 20.7071 14.2928C20.5196 14.1053 20.2652 13.9999 20 13.9999ZM27 5.99994V26.9999C27 27.5304 26.7893 28.0391 26.4142 28.4142C26.0391 28.7892 25.5304 28.9999 25 28.9999H7C6.46957 28.9999 5.96086 28.7892 5.58579 28.4142C5.21071 28.0391 5 27.5304 5 26.9999V5.99994C5 5.46951 5.21071 4.9608 5.58579 4.58573C5.96086 4.21065 6.46957 3.99994 7 3.99994H11.5325C12.0944 3.37085 12.7828 2.86751 13.5527 2.52289C14.3225 2.17826 15.1565 2.00012 16 2.00012C16.8435 2.00012 17.6775 2.17826 18.4473 2.52289C19.2172 2.86751 19.9056 3.37085 20.4675 3.99994H25C25.5304 3.99994 26.0391 4.21065 26.4142 4.58573C26.7893 4.9608 27 5.46951 27 5.99994ZM12 7.99994H20C20 6.93907 19.5786 5.92166 18.8284 5.17151C18.0783 4.42137 17.0609 3.99994 16 3.99994C14.9391 3.99994 13.9217 4.42137 13.1716 5.17151C12.4214 5.92166 12 6.93907 12 7.99994ZM25 5.99994H21.6562C21.8837 6.64221 22 7.31858 22 7.99994V8.99994C22 9.26516 21.8946 9.51951 21.7071 9.70705C21.5196 9.89458 21.2652 9.99994 21 9.99994H11C10.7348 9.99994 10.4804 9.89458 10.2929 9.70705C10.1054 9.51951 10 9.26516 10 8.99994V7.99994C10 7.31858 10.1163 6.64221 10.3438 5.99994H7V26.9999H25V5.99994Z" fill="#343330"/>
				</svg>
				Отчет 2
				<button on:click={() => alert("Hello")} style="z-index: 999;">
					<svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V25C5 25.5304 5.21071 26.0391 5.58579 26.4142C5.96086 26.7893 6.46957 27 7 27H25C25.5304 27 26.0391 26.7893 26.4142 26.4142C26.7893 26.0391 27 25.5304 27 25V7C27 6.46957 26.7893 5.96086 26.4142 5.58579C26.0391 5.21071 25.5304 5 25 5ZM7 7H15V25H7V7ZM25 25H17V7H25V25Z" fill="#343330"/>
					</svg>
				</button>
			</button>
			<button class="report_list__item" on:click={() => addWindow(null, "ДДС")}>
				<svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21 18.9999C21 19.2652 20.8946 19.5195 20.7071 19.707C20.5196 19.8946 20.2652 19.9999 20 19.9999H12C11.7348 19.9999 11.4804 19.8946 11.2929 19.707C11.1054 19.5195 11 19.2652 11 18.9999C11 18.7347 11.1054 18.4804 11.2929 18.2928C11.4804 18.1053 11.7348 17.9999 12 17.9999H20C20.2652 17.9999 20.5196 18.1053 20.7071 18.2928C20.8946 18.4804 21 18.7347 21 18.9999ZM20 13.9999H12C11.7348 13.9999 11.4804 14.1053 11.2929 14.2928C11.1054 14.4804 11 14.7347 11 14.9999C11 15.2652 11.1054 15.5195 11.2929 15.707C11.4804 15.8946 11.7348 15.9999 12 15.9999H20C20.2652 15.9999 20.5196 15.8946 20.7071 15.707C20.8946 15.5195 21 15.2652 21 14.9999C21 14.7347 20.8946 14.4804 20.7071 14.2928C20.5196 14.1053 20.2652 13.9999 20 13.9999ZM27 5.99994V26.9999C27 27.5304 26.7893 28.0391 26.4142 28.4142C26.0391 28.7892 25.5304 28.9999 25 28.9999H7C6.46957 28.9999 5.96086 28.7892 5.58579 28.4142C5.21071 28.0391 5 27.5304 5 26.9999V5.99994C5 5.46951 5.21071 4.9608 5.58579 4.58573C5.96086 4.21065 6.46957 3.99994 7 3.99994H11.5325C12.0944 3.37085 12.7828 2.86751 13.5527 2.52289C14.3225 2.17826 15.1565 2.00012 16 2.00012C16.8435 2.00012 17.6775 2.17826 18.4473 2.52289C19.2172 2.86751 19.9056 3.37085 20.4675 3.99994H25C25.5304 3.99994 26.0391 4.21065 26.4142 4.58573C26.7893 4.9608 27 5.46951 27 5.99994ZM12 7.99994H20C20 6.93907 19.5786 5.92166 18.8284 5.17151C18.0783 4.42137 17.0609 3.99994 16 3.99994C14.9391 3.99994 13.9217 4.42137 13.1716 5.17151C12.4214 5.92166 12 6.93907 12 7.99994ZM25 5.99994H21.6562C21.8837 6.64221 22 7.31858 22 7.99994V8.99994C22 9.26516 21.8946 9.51951 21.7071 9.70705C21.5196 9.89458 21.2652 9.99994 21 9.99994H11C10.7348 9.99994 10.4804 9.89458 10.2929 9.70705C10.1054 9.51951 10 9.26516 10 8.99994V7.99994C10 7.31858 10.1163 6.64221 10.3438 5.99994H7V26.9999H25V5.99994Z" fill="#343330"/>
				</svg>
				Отчет 3
				<button on:click={() => alert("Hello")} style="z-index: 999;">
					<svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V25C5 25.5304 5.21071 26.0391 5.58579 26.4142C5.96086 26.7893 6.46957 27 7 27H25C25.5304 27 26.0391 26.7893 26.4142 26.4142C26.7893 26.0391 27 25.5304 27 25V7C27 6.46957 26.7893 5.96086 26.4142 5.58579C26.0391 5.21071 25.5304 5 25 5ZM7 7H15V25H7V7ZM25 25H17V7H25V25Z" fill="#343330"/>
					</svg>
				</button>
			</button>
			<button class="report_list__item" on:click={() => addWindow(null, "ДДС")}>
				<svg width="20" height="20" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M21 18.9999C21 19.2652 20.8946 19.5195 20.7071 19.707C20.5196 19.8946 20.2652 19.9999 20 19.9999H12C11.7348 19.9999 11.4804 19.8946 11.2929 19.707C11.1054 19.5195 11 19.2652 11 18.9999C11 18.7347 11.1054 18.4804 11.2929 18.2928C11.4804 18.1053 11.7348 17.9999 12 17.9999H20C20.2652 17.9999 20.5196 18.1053 20.7071 18.2928C20.8946 18.4804 21 18.7347 21 18.9999ZM20 13.9999H12C11.7348 13.9999 11.4804 14.1053 11.2929 14.2928C11.1054 14.4804 11 14.7347 11 14.9999C11 15.2652 11.1054 15.5195 11.2929 15.707C11.4804 15.8946 11.7348 15.9999 12 15.9999H20C20.2652 15.9999 20.5196 15.8946 20.7071 15.707C20.8946 15.5195 21 15.2652 21 14.9999C21 14.7347 20.8946 14.4804 20.7071 14.2928C20.5196 14.1053 20.2652 13.9999 20 13.9999ZM27 5.99994V26.9999C27 27.5304 26.7893 28.0391 26.4142 28.4142C26.0391 28.7892 25.5304 28.9999 25 28.9999H7C6.46957 28.9999 5.96086 28.7892 5.58579 28.4142C5.21071 28.0391 5 27.5304 5 26.9999V5.99994C5 5.46951 5.21071 4.9608 5.58579 4.58573C5.96086 4.21065 6.46957 3.99994 7 3.99994H11.5325C12.0944 3.37085 12.7828 2.86751 13.5527 2.52289C14.3225 2.17826 15.1565 2.00012 16 2.00012C16.8435 2.00012 17.6775 2.17826 18.4473 2.52289C19.2172 2.86751 19.9056 3.37085 20.4675 3.99994H25C25.5304 3.99994 26.0391 4.21065 26.4142 4.58573C26.7893 4.9608 27 5.46951 27 5.99994ZM12 7.99994H20C20 6.93907 19.5786 5.92166 18.8284 5.17151C18.0783 4.42137 17.0609 3.99994 16 3.99994C14.9391 3.99994 13.9217 4.42137 13.1716 5.17151C12.4214 5.92166 12 6.93907 12 7.99994ZM25 5.99994H21.6562C21.8837 6.64221 22 7.31858 22 7.99994V8.99994C22 9.26516 21.8946 9.51951 21.7071 9.70705C21.5196 9.89458 21.2652 9.99994 21 9.99994H11C10.7348 9.99994 10.4804 9.89458 10.2929 9.70705C10.1054 9.51951 10 9.26516 10 8.99994V7.99994C10 7.31858 10.1163 6.64221 10.3438 5.99994H7V26.9999H25V5.99994Z" fill="#343330"/>
				</svg>
				Отчет 4
				<button on:click={() => alert("Hello")} style="z-index: 999;">
					<svg width="16" height="16" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25 5H7C6.46957 5 5.96086 5.21071 5.58579 5.58579C5.21071 5.96086 5 6.46957 5 7V25C5 25.5304 5.21071 26.0391 5.58579 26.4142C5.96086 26.7893 6.46957 27 7 27H25C25.5304 27 26.0391 26.7893 26.4142 26.4142C26.7893 26.0391 27 25.5304 27 25V7C27 6.46957 26.7893 5.96086 26.4142 5.58579C26.0391 5.21071 25.5304 5 25 5ZM7 7H15V25H7V7ZM25 25H17V7H25V25Z" fill="#343330"/>
					</svg>
				</button>
			</button>
			<!-- <button>ДДС</button> -->
		</div>
		<div class="container_footer">
			<div class="logo">
				logo
			</div>

			<div class="container_footer-btn_list">
				<!-- <button>
					<svg width="18" height="18" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M29.7075 13.2938L19.7075 3.29378C19.5678 3.15384 19.3896 3.0585 19.1957 3.01981C19.0017 2.98112 18.8006 3.00082 18.6178 3.07641C18.4351 3.15201 18.2788 3.28011 18.1688 3.44451C18.0589 3.60892 18.0001 3.80224 18 4.00003V9.04378C14.7575 9.32128 11.1763 10.9088 8.23005 13.4075C4.68255 16.4175 2.4738 20.2963 2.01005 24.3288C1.97381 24.6423 2.03737 24.9592 2.1917 25.2345C2.34603 25.5098 2.58325 25.7294 2.86962 25.8621C3.15598 25.9947 3.47689 26.0337 3.78667 25.9734C4.09646 25.9131 4.37933 25.7566 4.59505 25.5263C5.97005 24.0625 10.8625 19.4338 18 19.0263V24C18.0001 24.1978 18.0589 24.3911 18.1688 24.5555C18.2788 24.7199 18.4351 24.848 18.6178 24.9236C18.8006 24.9992 19.0017 25.0189 19.1957 24.9802C19.3896 24.9416 19.5678 24.8462 19.7075 24.7063L29.7075 14.7063C29.8946 14.5188 29.9996 14.2648 29.9996 14C29.9996 13.7352 29.8946 13.4812 29.7075 13.2938ZM20 21.5863V18C20 17.7348 19.8947 17.4805 19.7072 17.2929C19.5196 17.1054 19.2653 17 19 17C15.49 17 12.0713 17.9163 8.8388 19.725C7.19248 20.6503 5.65856 21.7627 4.26755 23.04C4.99255 20.06 6.82005 17.2263 9.5238 14.9325C12.4263 12.4713 15.9688 11 19 11C19.2653 11 19.5196 10.8947 19.7072 10.7071C19.8947 10.5196 20 10.2652 20 10V6.41503L27.5863 14L20 21.5863Z" fill="#7CE5A2"/>
					</svg>
				</button> -->
				<button>
					<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M10.2482 4.75732C10.2482 5.06798 10.5 5.31982 10.8107 5.31982L12.6801 5.31982V7.1893C12.6801 7.49997 12.932 7.7518 13.2426 7.7518C13.5533 7.7518 13.8051 7.49996 13.8051 7.1893V4.75732C13.8051 4.44666 13.5533 4.19482 13.2426 4.19482L10.8107 4.19482C10.5 4.19482 10.2482 4.44666 10.2482 4.75732Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.2426 10.2481C12.932 10.2481 12.6801 10.5 12.6801 10.8106L12.6801 12.6801L10.8106 12.6801C10.5 12.6801 10.2481 12.932 10.2481 13.2426C10.2481 13.5533 10.5 13.8051 10.8106 13.8051L13.2426 13.8051C13.5533 13.8051 13.8051 13.5533 13.8051 13.2426L13.8051 10.8106C13.8051 10.5 13.5533 10.2481 13.2426 10.2481Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4.75734 10.2481C5.068 10.2481 5.31984 10.5 5.31984 10.8106L5.31984 12.6801L7.18932 12.6801C7.49999 12.6801 7.75182 12.932 7.75182 13.2426C7.75182 13.5533 7.49998 13.8051 7.18932 13.8051L4.75734 13.8051C4.44668 13.8051 4.19484 13.5533 4.19484 13.2426L4.19484 10.8106C4.19484 10.5 4.44668 10.2481 4.75734 10.2481Z" fill="#7CE5A2" fill-opacity="0.8"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M7.7518 4.75732C7.75181 5.06798 7.49997 5.31982 7.18931 5.31982L5.31982 5.31982L5.31982 7.1893C5.31982 7.49997 5.06798 7.7518 4.75732 7.7518C4.44666 7.7518 4.19482 7.49996 4.19482 7.1893L4.19482 4.75732C4.19482 4.44666 4.44666 4.19482 4.75732 4.19482L7.18931 4.19482C7.49997 4.19482 7.7518 4.44666 7.7518 4.75732Z" fill="#7CE5A2" fill-opacity="0.8"/>
					</svg>				
				</button>
			</div>
		</div>
	</div>
</div>


<!-- <button on:click={() => addWindow(null, "ДДС")}>Добавить новое окно</button> -->

<style>
	.container {
		border: 1px solid rgba(124, 229, 162, 0.2);
		border-radius: 2px;
		display: flex;
		flex-direction: column;

		min-height: 100vh;
		/* max-height: 100vh; */
		overflow: hidden;
		position: relative;
	}

	.container .work_space {
		display: grid;
		gap: 2px;
		width: 100%;
		height: 100%;
		padding: 5px;
		flex: 1
	}
	
	.container .report_list {
		padding: 0 5px;
		display: flex;
		gap: 2px;
		align-items: flex-end;
		margin-top: 10px;
	}

	.container .report_list .report_list__item {
		border-radius: 3px 3px 0 0;
		border: none;
		padding: 5px 10px;
		cursor: pointer;
		background-color: rgba(124, 229, 162, 0.2);
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
		color: #7CE5A2;
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.container .report_list .report_list__item svg path {
		fill: #7CE5A2;
	}

	.container .report_list .report_list__item.active {
		background-color: #7CE5A2;
		/* padding-top: 5px; */
		color: #000;
	}

	.container .report_list .report_list__item.active svg path {
		fill: #000;
	}

	.container .report_list .report_list__item button {
		background: transparent;
		border: none;
		width: 25px;
		height: 25px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: .2s;
		cursor: pointer;
	}
	
	.container .report_list .report_list__item button:hover {
		background-color: rgba(124, 229, 162, 0.2);
	}

	.container .container_footer {
		background-color: rgba(124, 229, 162, 0.2);
		padding: 5px 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
	}
	.container .container_footer .logo {
		display: flex;
		align-items: center;
		gap: 5px;
		color: #fff;
		font-weight: 400;
		font-size: 13px;
	}

	.container .container_footer .container_footer-btn_list {
		display: flex;
		gap: 10px;
	}

	.container .container_footer button {
		background: none;
		border: none;
		display: flex;
		align-items: center;
		gap: 5px;
		color: #7CE5A2;
		font-size: 12px;
		cursor: pointer;
		border-radius: 3px;
		transition: .2s;
		width: 20px;
		height: 20px;
		padding: 0;
	}

	.container .container_footer button:hover {
		background-color: rgba(124, 229, 162, 0.1);
	}
</style>